
div {
    text-align: left;
    width: 180px;
    margin-top: 10px;
    padding:100px 200px 20px 200px;
}

#two {
    text-align: left;
    width: 180px;
    margin-top: 10px;
    padding:20px 200px 20px 200px;
}

#three {
    text-align: left;
    width: 180px;
    margin-top: 10px;
    padding:20px 200px 20px 200px;
}

#four {
    text-align: left;
    width: 180px;
    margin-top: 10px;
    padding:20px 200px 20px 200px;
}

#five {
    text-align: center;
    width: 180px;
    margin-top: 10px;
    padding:20px 600px 20px 600px;
}
