
div {
    width: 1500px;
    background:url('giphy.gif');
    height: 500px;
    color: white; 
}

h1 {
    font-size: 60px;
    text-align: center;
    padding: 410px 50px 200px 50px
}

a {
    opacity: 0.5;
    color: white;
    text-decoration: line-through; 
    cursor:crosshair;
}

a:hover {
    color:red;
}